<section class="flex items-center justify-center container mx-auto h-200">
    <article class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid-rows-5 gap-4 p-2 w-full h-full">
        <div class="col-span-1 sm:col-span-3 row-span-2 bg-gd-one flex items-center justify-center rounded-xl">
            <p class="text-white">asd</p>
        </div>
        <div class="col-span-1 sm:col-span-2 row-span-2 bg-gd-one flex items-center justify-center rounded-xl">
            <img src="logo.webp" alt="logo de unefa desde 1998" class="p-2 w-full h-full rounded-xl object-cover transition duration-300 hover:scale-101"/>
        </div>
        <div class="col-span-1 row-span-2 bg-gd-one flex items-center justify-center"></div>
        <div class="col-span-1 sm:col-span-2 row-span-2 bg-gd-one flex items-center justify-center rounded-xl relative overflow-hidden">
            <a href="https://ejemplo.com" class="absolute bottom-2 left-4 font-dm text-gray-900 not-first:px-2 py-1 rounded-lg transition-opacity duration-300 hover:opacity-100 z-10">Luka Modric se retira</a>
            <img src="https://ichef.bbci.co.uk/ace/standard/3840/cpsprodpb/0c25/live/6f1543a0-3719-11f0-96c3-cf669419a2b0.jpg" alt="Imagen de fondo" class="w-full h-full rounded-xl transition duration-300 hover:scale-102">
        </div>        
        <div class="col-span-1 sm:col-span-2 row-span-4 bg-gd-one flex items-center justify-center rounded-xl"></div>
        <div class="col-span-1 sm:col-span-3 row-span-2 bg-gd-one flex items-center justify-center rounded-xl">
            <img src="/imgs-prev/wallpaper.jpeg" alt="" class="p-2 w-full h-full rounded-xl object-cover transition duration-300 hover:scale-101"/>
        </div>
    </article>
</section>
