---
import { Image } from 'astro:assets';
---

<div class="container">
    <div class="grid">
        <div class="grid-item first bg-primary-light">
        </div>
        <div class="grid-item two bg-linear-to-t from-gd-two to-gd-one">
            <img src="logo.webp" alt="logo de unefa desde 1998" class="p-2 w-full h-full rounded-xl object-cover transition duration-300 hover:scale-102"/>
        </div>
        <div class="grid-item three bg-primary-light"><p>Three</p></div>
        <div class="grid-item four bg-primary-light"><p>four</p></div>
        <div class="grid-item five bg-primary-light"><p>five</p></div>
        <div class="grid-item six bg-linear-to-t from-gd-two to-gd-one">
            <Image src="/imgs-prev/wallpaper.jpeg" alt="" width="1250" height="1250" class="p-2 h-full w-full rounded-xl"/>
        </div>
    </div>
</div>

<style>
:root {
    --azul-marino: #003366;
    --azul-celeste: #3399FF;
    --gris-claro: #D9D9D9;
    --blanco-hueso: #F2F2F2;
    --dorado-suave: #CC9900;

    --color-olive: #e2e7d8;
    --shadow-main: 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
}

:root {
    --azul-marino: #003366;
    --azul-celeste: #3399FF;
    --gris-claro: #D9D9D9;
    --blanco-hueso: #F2F2F2;
    --dorado-suave: #fcdb7a;

    --salmon: rgba(255, 182, 193, 0.5);
    --broccoli: rgba(173, 255, 47, 0.5);
    --tamago: rgba(255, 255, 224, 0.5);
    --pork: rgba(210, 180, 140, 0.5);
    --edamame: rgba(144, 238, 144, 0.5);
    --tomato: rgba(255, 160, 122, 0.5);

    --shadow-main: 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    padding: 8px;
}

.grid-item {
    font-family: 'M PLUS 2 Variable', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: var(--shadow-main);
    color: var(--azul-marino);
    font-weight: bold;
}

.first { grid-column: span 3; grid-row: span 2; }
.two { grid-column: span 2; grid-row: span 2; }
.three { grid-column: span 1; grid-row: span 2; }
.four { grid-column: span 2; grid-row: span 2; }
.five { grid-column: span 2; grid-row: span 4; }
.six { grid-column: span 3; grid-row: span 2; }

</style>